<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <title>{% block title %}My Season{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('Images/rdv_logo3.png') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/website_title.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>

        <!--Modal: Connexion/Inscription-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <div class="modal-content">
                    <div class="modal-c-tabs">

                        <!-- Menu -->
                        <div class="modal-header">
                            <div class="modal-title" id="exampleModalLabel">
                                <div class="row">
                                    <p>&nbsp;&nbsp;&nbsp;</p>
                                    <a class="navbar-brand" href="{{ path('general_homepage') }}">
                                        <img src="{{ asset('Images/rdv_logo3.png') }}" width="35" height="35" class="d-inline-block align-top" alt="">
                                    </a>
                                    <div class="title-modal">
                                        <h1>- My -</h1>
                                        <h2>Season</h2>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <br/>
                        <div class="col-12">
                            <ul class="nav nav-tabs md-tabs tabs-2" role="tablist">
                                <li class="nav-item col-6 center">
                                    <a class="nav-link btn-modal" data-toggle="tab" href="#modalRegister" role="tab">Inscription</a>
                                </li>
                                <li class="nav-item col-6 center">
                                    <a class="nav-link active btn-modal active" data-toggle="tab" href="#modalLogin" role="tab">Connexion</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Ensemble des 2 formulaires -->
                        <div class="tab-content">

                            <!-- Modal Connexion -->
                            <div class="tab-pane fade in show active" id="modalLogin" role="tabpanel">

                                <div class="modal-body">
                                    <form>
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Adresse mail</label>
                                                <input type="email" class="form-control border-logoColor-border" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Mot de passe</label>
                                                <input type="password" class="form-control border-logoColor-border" id="exampleInputPassword1">
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi</label>
                                            </div>
                                            <br/>
                                            <button type="submit" class="col-lg-12 btn btn-primary logoColor-background border-logoColor-border">Connexion</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-8 offset-sm-2 col-lg-12 row center no-account">
                                        <p>Vous n'avez pas encore de compte ? <a class="logoColor-text log" href="#modalRegister">Inscrivez-vous</a>.</p>
                                    </div>
                                </div>

                            </div>

                            <!--Modal Inscription -->
                            <div class="tab-pane fade" id="modalRegister" role="tabpanel">

                                <div class="modal-body">
                                    <form>
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadioInline1">Je suis professionnel</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadioInline2">Je suis saisonnier</label>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1" class="logoColor-text">Choisir une image de profil</label>
                                                <input type="file" class="form-control-file border-logoColor-border" id="exampleFormControlFile1">
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <label for="lastName">Nom/Nom de l'entreprise</label>
                                                    <input type="text" class="form-control border-logoColor-border" id="lastName">
                                                </div>
                                                <div class="col">
                                                    <label for="firstName">Prénom/Personne à contacter</label>
                                                    <input type="text" class="form-control border-logoColor-border" id="firstName">
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Adresse mail</label>
                                                <input type="email" class="form-control border-logoColor-border" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Mot de passe</label>
                                                <input type="password" class="form-control border-logoColor-border" id="exampleInputPassword1">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Confirmation du mot de passe</label>
                                                <input type="password" class="form-control border-logoColor-border" id="exampleInputPassword1">
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">Je confirme avoir pris connaissance des CGU et j'accepte que mes données soient exploitées uniquement dans le cadre de l'utilisation su site.</label>
                                            </div>
                                            <br/>
                                            <button type="submit" class="col-lg-12 btn btn-primary logoColor-background border-logoColor-border">Inscription</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <div class="col-sm-8 offset-sm-2 col-lg-12 row center no-account">
                                        <p>Vous avez déjà un compte ? <a class="logoColor-text log" href="#modalLogin">Connectez-vous</a>.</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('general_homepage') }}">
                <img src="{{ asset('Images/rdv_logo3.png') }}" width="35" height="35" class="d-inline-block align-top" alt="">
            </a>
            <div class="title-animation-header">
                <h1>- My -</h1>
                <h2>Season</h2>
            </div>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('general_homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"> Les Annonces</a>
                    </li>
                </ul>
{#                <div class="login">#}
{#                    <a class="btn btn-success" href="#" role="button">Connexion</a>#}
{#                </div>#}
                <!--Modal: Connexion/Inscription-->
                <a href="" class="btn btn-success" data-toggle="modal" data-target="#modalLRForm">
                    Connexion
                </a>

                <div class="ads_button">
                    <a class="btn btn-primary logoColor-background border-logoColor-border" href="{{ path('posting_ad') }}" role="button">Publier une annonce</a>
                </div>
            </div>
        </nav>

        {% block navigation %}{% endblock %}
        <br><br><br>
        {% block home %} {% endblock %}
        {% block postingAd %} {% endblock %}
        {% block userAccount %} {% endblock %}
        {% block userAd %} {% endblock %}

        <br/>

        <footer>
            <div class="card white-text">
                <div class="card-body logoColor-background">
                    <div class="row col-lg-8 offset-lg-2">
                        <div class="title-website col-lg-3 col-sm-3">
{#                            <h3 class="card-title white-text"><strong>Seasonal Job</strong></h3>#}
                            <div class="row">
                                <a class="navbar-brand" href="{{ path('general_homepage') }}">
                                    <img src="{{ asset('Images/rdv_logo4.png') }}" width="35" height="35" class="d-inline-block align-top" alt="">
                                </a>
                                <div class="title-footer">
                                    <h1>- My -</h1>
                                    <h2>Season</h2>
                                </div>
                            </div>
                            <hr>
                            <h5 class="card-text">Mettre en relation saisonniers et employeurs !</h5>
                            <hr>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h5><strong>Plus d'infos</strong></h5>
                            <div class="footer-white-line"></div>
                            <ul>
                                <li><a href="" class="footer-link" data-toggle="modal" data-target="#modalLRForm">Se connecter</a></li>
                                <li><a href="#" class="footer-link">Charte du saisonnier</a></li>
                                <li><a href="#" class="footer-link">Charte de l'employeur</a></li>
                                <li><a href="#" class="footer-link">Sécurité</a> et <a href="#" class="footer-link">CGU</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h5><strong>Contacts</strong></h5>
                            <div class="footer-white-line"></div>
                            <ul>
                                <li><a href="#" class="footer-link">Nous contacter</a></li>
{#                                <li><a href="#" class="footer-link">Kit Presse</a></li>#}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <script type="text/javascript" src="{{ asset('js/log_modal.js') }}"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>