{% extends 'base.html.twig' %}

{% block editUserAccount %}

    <br/>

    <div class="intro col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
        <h2 class="logoColor-text resize-sm-h2"><strong>Mon compte</strong></h2>
    </div>

    <br>

    {% if is_granted('ROLE_EMPLOYER') %}

        <div class="col-sm-6 offset-sm-3 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <div class="card border-logoColor-border">
                <div class="card-header logoColor-background white-text"><h4>Éditer mes informations</h4></div>
                <div class="card-body">

                    <div class="col-lg-8 offset-lg-2">

                        <div class="mx-auto d-block account-circle">
                            <img src="{{ asset(app.user.profilPicture) }}" class="account-image" alt="TestCodepen" />
                        </div>

                        <br/>

                        <div class="row">
                            <h5 class="card-title logoColor-text">ID :</h5>
                            &nbsp;
                            <p class="card-text justify">
                                {{ app.user.id }}
                            </p>
                        </div>

                        <div class="row">
                            <h5 class="card-title logoColor-text">Entreprise :</h5>
                            &nbsp;
                            <p class="card-text justify">
                                {{ app.user.company }}
                            </p>
                        </div>

                        <div class="row">
                            <h5 class="card-title logoColor-text">Contact :</h5>
                            &nbsp;
                            <p class="card-text justify">
                                {{ app.user.contact }}
                            </p>
                        </div>

                        <div class="row">
                            <h5 class="card-title logoColor-text">Mail :</h5>
                            &nbsp;
                            <p class="card-text justify">
                                {{ app.user.email }}
                            </p>
                        </div>

                        <div class="row">
                            <h5 class="card-title logoColor-text">Statut :</h5>
                            &nbsp;
                            <p class="card-text justify">
                                Employeur
                            </p>
                        </div>

                        <br/>

                        <div class="row">
                            <h5 class="card-title logoColor-text">Nombre d'annonces publiées :</h5>
                            &nbsp;
                            <p class="card-text justify">

                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    {% elseif is_granted('ROLE_SEASONAL') %}

        <div class="col-sm-6 offset-sm-3 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <div class="card border-logoColor-border">
                <div class="card-header logoColor-background white-text"><h4>Éditer mes informations</h4></div>
                <div class="card-body">

                    <div class="col-lg-8 offset-lg-2">

                        <div class="mx-auto d-block account-circle">
                            <img src="{{ asset(app.user.profilPicture) }}" class="account-image" alt="TestCodepen" />
                        </div>

                    </div>

                    <div class="col-lg-8 offset-lg-2">

                        <br/>

                        {{ form_start(editSeasonalForm) }}
                        <div>
                            <div class="col-lg-12">
                                <br/>
                                <label>Modifier mon prénom :</label>
                                <div class="input-form edit_seasonnal_account_firstname">{{ form_widget(editSeasonalForm.firstname) }}</div>
                                <br/>
                                <label>Modifier mon nom :</label>
                                <div class="input-form edit_seasonnal_account_lastname">{{ form_widget(editSeasonalForm.lastname) }}</div>
                                <br/>
                                <label>Modifier mon email :</label>
                                <div class="input-form edit_seasonnal_account_email">{{ form_widget(editSeasonalForm.email) }}</div>
                                <br/>
                                <label>Modifier mon lien LinkedIn :</label>
                                <div class="input-form edit_seasonnal_account_resume_link">{{ form_widget(editSeasonalForm.resumeLink) }}</div>
                                <br/>
                                <label>Modifiez votre image de profil :</label>
                                <div class="input-form edit_seasonnal_account_profilPicture">{{ form_widget(editSeasonalForm.profilPicture) }}</div>
                            </div>
                        </div>

                        <br/>

                        <div class="row">
                            <button type="submit" class="col-sm-4 offset-sm-4 col-lg-6 offset-lg-3 btn btn-connect round-button">Éditer mon profil</button>
                        </div>
                        {{ form_end(editSeasonalForm) }}

                    </div>

                </div>
            </div>
        </div>

    {% else %}

        <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3">
            <div class="card border_anonymous-user_border advert-card">
                <div class="card-body">

                    <br/>
                    <br/>

                    <div class="intro col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 anonymous-user_message-box center">
                        <div>
                            <h4><i class="fas fa-exclamation-triangle resize-icon fa-fw"></i>
                                Attention, vous n'êtes pas connecté !
                            </h4>
                        </div>
                    </div>

                    <br/>

                    <div class="intro col-sm-10 offset-sm-1 col-lg-10 offset-lg-1 justify">
                        <h5>Afin d'accéder à votre compte, connectez-vous ou dans le cas contraire,
                            créez-en un en vous inscrivant sur
                            <strong>
                                <span style="color: black !important;">My</span> <span style="color: #6200ea !important;">SEASON</span>
                            </strong> !
                        </h5>
                    </div>

                    <br/>
                    <br/>

                    <div class="login center">
                        <button class="btn btn-connect round-button" data-toggle="modal" data-target="#ModalForm" title="Se connecter ou s'inscrire">
                            Se connecter ou s'inscrire
                        </button>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}

    <br/>

{% endblock %}