{% extends 'base.html.twig' %}

{% block userAccount %}

    {#    {{ render(controller('GeneralBundle:UserAccount:userAccount')) }}#}

    <br/>

    <div class="intro col-sm-10 offset-sm-1 col-lg-10 offset-lg-1">
        <h2 class="logoColor-text resize-sm-h2"><strong>Mon compte</strong></h2>
    </div>

    <br>

    <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3">
        <div class="card border-logoColor-border">
            <div class="card-header logoColor-background white-text"><h4>Mes informations</h4></div>
            <div class="card-body">

                {#                {% if employer is defined %}#}

                <div class="col-lg-8 offset-lg-2">
                    <img src="{{ asset('Images/recherche-emploi-en-ligne.jpg') }}" class="mx-auto d-block account-profil" alt="...">

                    <br/>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Id :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ employer.id }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Entreprise :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ employer.company}}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Prénom et nom :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ employer.contact }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Mail :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ employer.email }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Statut :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ employer.role }}#}
                        </p>
                    </div>

                </div>

                {#                {% endif %}#}

                {#                {% elseif seasonal is defined %}#}

                <div class="col-lg-8 offset-lg-2">
                    <img src="{{ asset('Images/recherche-emploi-en-ligne.jpg') }}" class="mx-auto d-block account-profil" alt="...">

                    <br/>

                    {#                        <img src="{{ seasonal.profilPicture }}" class="mx-auto d-block account-profil" alt="...">#}

                    <br/>

                    {#                        {{ seasonal.profilPicture }}#}

                    <div class="row">
                        <h5 class="card-title logoColor-text">Id :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ seasonal.id }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Prénom et nom:</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ seasonal.firstname }} {{ seasonal.lastname }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Mail :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ seasonal.email }}#}
                        </p>
                    </div>

                    <div class="row">
                        <h5 class="card-title logoColor-text">Statut :</h5>
                        &nbsp;
                        <p class="card-text justify">
                            {#                                {{ seasonal.role }}#}
                        </p>
                    </div>

                </div>

                {#                {% endif %}#}


                <br/>
                <br/>

                <div class="row col-lg-6 offset-lg-3">
                    <div class="login col-lg-6">
                        <a href="{{ path('user_ad') }}" class="btn btn-outline-success border-logoColor-border logoColor-text">Mes annonces</a>
                    </div>

                    <div class="login col-lg-6">
                        <a href="{{ path('user_ad') }}" class="btn btn-danger">Déconnexion</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br/>

{% endblock %}